<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cartao.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Pagamento Pix</title>
</head>
<body>

    {% include 'header.html' %}

    <div class="container">
        <div class="preco">
            <img src="{{ url_for('static', filename='assets/Logo.png') }}" alt="logo">
            <h2>R$ 15,00</h2>
        </div>

        <div class="qrCode">
            <img alt="qrCode" id="qrCode" class="qrCode">
        </div>

        <div class="container-chave">
            <p>Cjkjdaf624jsld-392439G306...</p>
        </div>

        <div class="botao-pix">
            <a href="{{ url_for('conclusao') }}">Copiar chave do PIX</a>
        </div>

    </div>

     <script src="{{ url_for('static', filename='js/cartao.js') }}"></script>
</body>
</html>